<div class="container">
  <div class="row">
    <div class="col my-5 text-center">
      <h1>Form Validation</h1>
      <p>This is group</p>
      <a
        href="https://danielk.tech/home/angular-component-dom-testing-complete-guide"
        alt="login"
      ></a>
      <img
        src="/assets/image/photo1.jpeg"
        style="width: 250px"
        style="height: 250px"
        alt="aaa"
      />

      <form (ngSubmit)="login()" [formGroup]="form">
        <label>First Name :-</label>
        <input class="my-2" type="text" formControlName="fname" />&nbsp;<br />
        <div *ngIf="form.get('fname').touched && !form.get('fname').valid">
          <div *ngIf="form.get('fname').errors.required">
            First name is required
          </div>
          <div *ngIf="form.get('fname').errors.minlength">
            Minimum length should be 5
          </div>
        </div>

        <label>Last Name :-</label>
        <input class="my-2" type="text" formControlName="lname" />&nbsp;<br />
        <div
          *ngIf="form.get('lname').touched && !form.get('lname').valid"
        > 
        <div *ngIf="form.get('lname').errors.required">
          Last Name is required
        </div>
        <div *ngIf="form.get('lname').errors.minlength">
          Minimum length should be 3
        </div>
        </div>
        <label>Email :-</label>
        <input class="my-2" type="email" formControlName="email" />&nbsp;<br />
        <div
          *ngIf="
            (form.get('email').invalid && form.get('email').touched) ||
            form.get('email').dirty
          "
        >
          Email is required
        </div>
        <label>Password :-</label>
        <input type="password" formControlName="password" />&nbsp;<br />
        <div *ngIf="form.get('password').touched "> Please enter password</div>
        <div class="form-group" formArrayName="skills">
          <label>Skills</label>
          <ng-container *ngFor="let skill of form.get('skills').controls;index as i">
          <input type="text" class="mt-2"  autocomplete="off" formControlName="{{i}}" placeholder="Add Skills" ><br></ng-container>
          <button class="btn btn-light btn-small mt-3 btn-add"><i>+</i> Add Skills</button>
        </div>

        <button (click)="onAddSkills()" class="btn btn-primary my-2" type="submit">Login</button>
      </form>
      <!-- <button class="btn btn-primary set-button" (click)="setName()">
        Set
      </button>
      <p>{{ personName }}</p>

      <button class="btn btn-success mx-2 send-button" (click)="sendData()">
        Send
      </button>

      <button class="btn btn-danger edit-button" (click)="editPerson(101)">
        Edit
      </button> -->
    </div>
  </div>
</div>
